PORT=4000
NODE_ENV=development
MONGODB_URL=
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
SECRET_KEY=

CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
